{% extends 'post/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-3">
<div class='row'>


<div class="col-sm-4 card shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Microservice with Python Popular Frameworks</h5>
    <p class="card-text">In my previous article, we discussed microservice services and how they are benefiting to scale the services, speeding the development, and increasing the readability of the application. Let’s extend our...</p>
    <a href="https://medium.com/@rajansahu713/microservice-with-python-83a162c304e8" class="btn btn-primary">Read More</a>
  </div>
</div>

<div class=" col-sm-4 card shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">SFTP Files Transfer Using Python</h5>
    <p class="card-text">SFTP (Secure File Transfer Protocol) is a secure method of transferring files over the internet. Paramiko is a Python library that provides a secure way to communicate with remote s ...</p>
    <a href="https://medium.com/@rajansahu713/sftp-files-transfer-using-python-59b4cead090a" class="btn btn-primary">Read More</a>
  </div>
</div>

<div class=" col-sm-4 card shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Top 25 SQL Questions for Interview</h5>
    <p class="card-text">This article will focus on a few key concepts and practicals that one may find useful for preparations for an SQL interview. Introduction This article will primarily focus on const ...</p>
    <a href="https://medium.com/@rajansahu713/top-25-sql-questions-for-interview-9a28202dcd14" class="btn btn-primary">Read More</a>
  </div>
</div>

<div class=" col-sm-4 card shadow" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Master SQL Queries (in 5 minutes)</h5>
    <p class="card-text">Handling databases is at the heart of software development in this day and age; long gone are the days when the software was only supposed to handle present data and then forget it. ...</p>
    <a href="https://rajansahu713.medium.com/master-sql-queries-in-5-minutes-ca417519b469" class="btn btn-primary">Read More</a>
  </div>
</div>


</div>
</div>
</div>

{% endblock content %}